@using System.Globalization
@model Vives_FrietShop.ViewModels.ShopListShopItemViewModel;

@{
    var culture = CultureInfo.CreateSpecificCulture("nl-BE");
}

<div class="row mt-5">
    <div class="col">
        <h4 class="mb-3">Items bewerken:</h4>
        @foreach (var item in @Model.ShopItems)
        {
            <div class="row">
                <form method="get" style="width: 50%;">
                    <button type="submit" class="btn btn-secondary m-1"
                            style="width: 100%;" asp-action="Edit" asp-route-id="@item.Id">
                        @item.Naam (@item.Prijs.ToString("C", culture))
                    </button>
                </form>

                <form method="post" class="ml-1">
                    <button type="submit" class="btn btn-danger m-1"
                            asp-action="Delete" asp-route-id="@item.Id">Verwijder</button>
                </form>
            </div>
        }
    </div>
    
    <div class="col">
        <h4>Nieuw item</h4>
        <form method="post" class="mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ShopItem.Id" type="hidden" value="@Model.ShopItem.Id"/>
            <label asp-for="ShopItem.Naam"></label>
            <input asp-for="ShopItem.Naam" class="form-control" value=""/>
            <span asp-validation-for="ShopItem.Naam" class="text-danger"></span>
            <br />
            
            <label asp-for="ShopItem.Prijs" class="mt-3"></label>
            <input asp-for="ShopItem.Prijs" class="form-control" value=""/>
            <span asp-validation-for="ShopItem.Prijs" class="text-danger"></span>
            <br />
            
            <input type="submit" class="btn btn-primary mt-3" value="Nieuw item maken"/>
        </form>
    </div>
    
</div>