@model Vives_FrietShop.ViewModels.ShopItemsWinkelmandjeViewModel;

@using System.Globalization


@{
    ViewData["Title"] = "Home Page";
    
    //culture wordt gebruikt om een prijs in correcte vorm weer te geven
    var culture = CultureInfo.CreateSpecificCulture("nl-BE");

    //berekenen totaalprijs van alle items in winkelmandje
    var totaalPrijs = 0.0;
    foreach (var item in @Model.Winkelmandje)
    {
        totaalPrijs = totaalPrijs + item.Prijs;
    }
}

<div class="row mt-5">
<div class="col">
    <h4>Maak jouw bestelling:</h4>
    <form method="post" class="mt-5">
        @foreach (var item in @Model.ShopItems)
        {
            <button type="submit" class="btn btn-secondary m-1"
                    style="width: 50%;"
                    asp-action="Toevoegen" asp-route-id="@item.Id">
                @item.Naam (@item.Prijs.ToString("C", culture)) +
            </button>
        }
    </form>
    
</div>

<div class="col">
    <h4>Winkelmandje</h4>
    <form method="post">
        @foreach (var item in @Model.Winkelmandje)
        {
            <button type="submit" class="btn btn-warning m-1"
                    style="width: 45%"
                    asp-action="Verwijderen" asp-route-id="@item.Id">
                @item.Naam (@item.Prijs.ToString("C", culture)) -
            </button>
        }
    </form>
    
    <form method="post">
        <h5 class="mt-5">Totaalprijs: @totaalPrijs.ToString("C", culture)</h5>
        <button type="submit" class="btn btn-primary" asp-action="Betalen">Bestel!</button>
    </form>
</div>
</div>